@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');


body{
    background-color:#08111f;
    color:white;
    overflow-x:hidden;
    overflow-y:hidden;
}

.another-title{
    color:#b476e5;
    font-family: 'Nunito', sans-serif;
}
.another-title-top{
    color:#47bdff;
    font-family: 'Poppins', sans-serif;
}

.header{
    position:relative;
    width:250px;
    height:900px;
    top:30px;
    background-color:#101926;
    left:25px;
    border-radius:15px;
}

.top-header{
    height:125px;
    width:1570px;
    background-color:#101926;
    border-radius:15px;
    position:absolute;
    text-align:center;
    margin:auto;
    bottom:775px;
    left:275px;
}

.header-title{
    position:relative;
    text-align:center;
    top:25px;
    font-size:40px;
}

button{
    width:175px;
    height:60px;
    background-color:#08111f;
    color:white;
    border:none;
    border-radius:15px;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    margin:15px;
    cursor:pointer;
}

.header-buttons{
    position:relative;
    text-align:center;
}

.header-button{
    position:relative;
    top:100px;
}

.profile-picture{
    width:100px;
    height:100px;
    position:relative;
    float:right;
    right:150px;
    top:11px;
}

.content{
    width:1560px;
    height:730px;
    background-color:transparent;
    position:relative;
    text-align:center;
    margin:auto;
    bottom:700px;
    left:141px;
}

.totalgraph{
    width:300px;
    height:150px;
    background-color:#101926;
    border-radius:15px;
    margin:15px;
    display:inline-block;
    position:relative;
    bottom:25px;
}

.total-users{
    position:relative;
    font-size:20px;
    top:25px;
}
.users-count{
    position:relative;
    font-size:30px;
    top:0px;
}

.tos-panel{
    position:relative;
    text-align:center;
    margin:auto;
    width:500px;
    height:500px;
    background-color:#101926;
    border-radius:15px;
    display:inline-block;
    margin:20px;
}

.faq-panel{
    position:relative;
    text-align:center;
    margin:auto;
    width:500px;
    height:500px;
    background-color:#101926;
    border-radius:15px;
    display:inline-block;
    bottom:140px;
}

.tos-title{
    font-size:20px;
    font-family:'Poppins', sans-serif;
    position:relative;
    top:25px;
}
hr{
    position:relative;
    top:25px;
}

.tos-text{
    position:relative;
    text-align:center;
    top:25px;
    font-family:'Poppins', sans-serif;
    font-size:14px;
}